body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lead{
  color: rgb(0, 68, 255);
  text-align: center;
  font-size: 60px;
  padding-top: 180px;
}


.lead{
  background-image: url('./imagen/fondo.png');
  height: 350px;
}

.black-line {
  width: 100%;
  height: 5px;
  background-color: black;
  margin-top: 60px;
}

.tecn{
  color: rgb(3, 3, 3);
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
}

.image-container {
  display: flex;
}

.image {
  width: 200px; 
  height: 200px; 
  margin-right: 60px;
  width: 100%;
  height: 155px; 
}

.pro{
  color: rgb(3, 3, 3);
  text-align: center;
  font-size: 60px;
  padding-top: 50px
}

.pr-conter {
  display: flex;
}

.pr {
  width: 300px; 
  height: 300px; 
  margin-right: 60px;
  width: 100%;
  height: 450px; 
}

.box {
  width: 600px; 
  height: 400px; 
  background-color: #f2f2f2;
  border: 5px solid #ccc;
  border-radius: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./imagen/nutricion.jpg');
  height: 350px;
  margin-right: 60px;
}

.text {
  text-align: center;
  color: #333; 
  font-size: 62px; 
}

.not {
  width: 600px; 
  height: 400px; 
  background-color: #f2f2f2;
  border: 5px solid #ccc;
  border-radius: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./imagen/taras.jpg');
  height: 350px;
  margin-right: 60px;
}

.notas {
  text-align: center;
  color: #817e7e; 
  font-size: 62px; 
}

body {
  background-color: #0875c8;
}

.comen {
  font-size: 30px;
  background-color: #666666;
  color: #f9f3f3; 
}